.tabs {
  text-decoration: none;
  width: 72rem;
  height: 6.8rem;
  background-color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top: 5px solid var(--color-accent);
  border-left: 5px solid var(--color-accent);
  border-right: 5px solid var(--color-accent);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -3px 16px rgba(39, 132, 247, .2);
  z-index: 999;
}

.tabs__link {
  text-decoration: none;
}

.tabs__container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs__tab {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tabs__listTab {
  display: none;
}

.tabs__icon {
  height: 3.5rem;
  width: auto;
}

.tabs__heading {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.active {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}
.active .tabs__heading {
  color: var(--color-accent);
}

@media (max-width: 1000px) {
  .tabs__listTab {
    display: flex;
  }
}

@media (max-width: 730px) {
  .tabs__container {
    width: 90%;
  }
  
  .tabs {
    width: 100%;
    border-top: 5px solid var(--color-accent);
    border-left: 5px solid var(--color-accent);
    border-right: 5px solid var(--color-accent);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -3px 16px rgba(39, 132, 247, .2);
  }
}

@media (max-width: 670px) {
  
  .tabs__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tabs__heading {
    padding: .5rem .5rem 0 0;
  }

  .tabs__heading > span {
    display: none;
  }

  .tabs__icon {
    height: 3rem;
  }
}

@media (max-width: 480px) {
  .tabs__heading {
    display: none;
  }

  .tabs__icon {
    height: 3.5rem;
  }
}